@tailwind base;
@tailwind components;
@tailwind utilities;
html{background:var(--bg)}
*{scrollbar-width:thin;scrollbar-color:var(--border) transparent}
::selection{background:var(--primary);color:white}
@media (prefers-reduced-motion: reduce){*,*:before,*:after{scroll-behavior:auto!important;transition-duration:.01ms!important;animation-duration:.01ms!important}}